/*  backrgound picture and text-overlay */

.background_box {
    background-image: url("../images/Screenshot\ 2022-10-01\ at\ 10.13.41.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px;
}

.text-overlay {
    position: absolute;
    padding: 1rem;
    margin-top: -40px;
    margin-left: -40px;
    font-weight: 400;
    backdrop-filter: brightness(90%);
}


/* formatting the style of a card */

.card-img-center {
    width: 100%;
    height: 230px;
}

.resize {
    height: 90px;
}


/* footer style */

footer {
    background-color: black;
    color: white;
    padding: 20px 40px 20px;
    margin-top: 15px;
}

.sm_icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}


/* formatting the main content */

h3 {
    padding-top: 10px;
    padding-left: 20px;
}

.row {
    display: grid;
    row-gap: 20px;
    column-gap: 15px;
    justify-content: center;
    box-shadow: 50px;
}

.weekly {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 15px;
}

.task {
    margin-bottom: 5px;
}